<div class="user-menu-wrapper">
    Zalogowany jako: <span  class="color-primary">{{user.email}} </span>
    <mat-icon>settings</mat-icon>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
</div>