<div class="page user">
    <div class="box box-shadow">
        <div class="page__header">
            <h3>
                Użytkownicy
            </h3>
            <a routerLink="/user/users/create" mat-raised-button color="primary">Add user</a>
        </div>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table class="width-100" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['../edit/',row._id]">
                            {{row._id}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Firstname </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['../edit/',row._id]">
                            {{row.firstname}}
                        </a></td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Lastname </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['../edit/',row._id]">
                            {{row.lastname}}</a> </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['../edit/',row._id]">
                            {{row.email}}</a> </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created at </th>

                    <td mat-cell *matCellDef="let row">
                        <a [routerLink]="['../edit/',row._id]">
                            {{row.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}
                        </a></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>