@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables.scss";
@import "./layout/main.scss";
@import "./page/main.scss";
@import "./shared.scss";

body, h1, h2, h3, h4, h5{
    font-family: sans-serif;
}
body{
    margin:0;
}


a{
    color: rgba(0, 0, 0, 0.85);
    text-decoration:none;
}

.d-flex{
    display: flex;
} 
.align-items-center{
    align-items: center;
} 
.justify-content-between{
    justify-content: space-between;
}
.color-primary{
    color:$color-primary;
}
.box-shadow{
    box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.35);
}
.img-fluid {
    max-width:100%;
    display:block;
}
body .mat-grid-tile .mat-figure{
    align-items:initial;
    justify-content: initial;
}
.block-mat.mat-grid-tile .mat-figure{
    display:block;
}
.width-100 {
    width:100%;
}
*{
    box-sizing:border-box;
}