<div class="layout-sidebar">
    <nav>
        <a routerLink="/dashboard" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
           <mat-icon>dashboard</mat-icon> Dashboard
        </a>
        <a routerLink="/user/users" mat-button routerLinkActive="active">
            <mat-icon>person</mat-icon> Users
        </a>
    </nav>
</div>