<div class="layout__wrapper">
    <mat-grid-list [gutterSize]="0" class="layout__header-row" cols="12" rowHeight="fit">
        <mat-grid-tile class="logo-wrapper" [colspan]="2">
            <img class="img-fluid" src="assets/img/logo.png">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="10" class="box-shadow">
            <app-header></app-header>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list [gutterSize]="0" class="layout__content-row" cols="12" rowHeight="fit">
        <mat-grid-tile [colspan]="2"  class="box-shadow">
            <app-sidebar></app-sidebar>
        </mat-grid-tile>
        <mat-grid-tile class="block-mat" [colspan]="10">
            <router-outlet></router-outlet>
        </mat-grid-tile>
    </mat-grid-list>
</div>