<div class="login-page">
    <div class="box">
        <div class="logo-wrapper">
            <img class="img-fluid" src="assets/img/logo.png">
        </div>
        <h1>
            LOGOWANIE
        </h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="loginForm.get('email').hasError('pattern') && !loginForm.get('email').hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="width-100" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" formControlName="password"
                    [errorStateMatcher]="matcher">
                    <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>

            </mat-form-field>
            <div class="d-flex align-items-center justify-content-between">
                <mat-checkbox color="primary" formControlName="remember_me">Remember me</mat-checkbox>
                <a [routerLink]="['/auth/password-reset']">
                    Forgot password
                </a>
            </div>

            <button mat-raised-button type="submit" color="primary">Zaloguj</button>
        </form>
    </div>
</div>