.page{
    padding:30px;
    width:100%;
    .box{
        padding:15px;
        background-color:#fff;
        width:100%;
        display:table;
        min-height:300px;
    }
    &__header {
        display:flex;
        justify-content: space-between;
        align-items:center;
    }
    .mat-tab-body{
        padding-top:20px;
    }
}
