.layout__wrapper {
    .logo-wrapper .mat-figure {
        padding:15px;
        z-index: 1;
        background-color: #fff;
        justify-content: center;
        align-items:center;
        img{
            max-width:130px;
        }
    }
    .user-menu-wrapper {
        display: flex;
        align-items: center;
        > *{
            margin:0 5px;
        }
        mat-icon {
            transition: .3s;
            &:hover {
                cursor:pointer;
                color:$color-primary;
            }
        }
    }
}