@import './header.scss';
@import './sidebar.scss';

.layout {
    &-wrapper {
        min-height: 100vh;
    }
    &__header-row{
        height: 120px;
        z-index: 1;
        app-header{
            width:100%;
            padding: 0 15px;
            display:flex;
            align-items:center;
        }
        .header__top{
            margin-left: auto;
        }
    }
    

    &__content-row{
        min-height: calc(100vh - 120px);
        background-color: #f1f1f1;
        app-sidebar{
            height:100%;
            width:100%;
            background-color: #fff;

        }
    }
}
