.layout-sidebar {
    margin-top:10px;
    &__wrapper{

    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        .mat-button{
            width:100%;
            text-align:left;
            line-height: 3em;
            border-radius:0;
            background-color:#fff;
            &:hover {
                background: linear-gradient(to right,  #6ae7bb 0%,#7db9e8 100%);
                color:#fff;
            }
            &.active{
                background: linear-gradient(to right,  #6ae7bb 0%,#7db9e8 100%);
                color:#fff;
            }
        }
        mat-icon{
            margin-right:5px;
        }
    }
}
