<div class="page user">
    <div class="box box-shadow">
        <div class="page__header">
            <h3>
                Create user
            </h3>
        </div>
        <mat-tab-group>
            <mat-tab label="Data">
                <ng-template matTabContent>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Firstname</mat-label>
                            <input matInput formControlName="firstname" [errorStateMatcher]="matcher">
                        </mat-form-field>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Lastname</mat-label>
                            <input matInput formControlName="lastname" [errorStateMatcher]="matcher">
                        </mat-form-field>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" [errorStateMatcher]="matcher">
                            <mat-error
                                *ngIf="form.get('email').hasError('pattern') && !form.get('email').hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="form.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <button style="margin-right:10px;" mat-raised-button type="submit"
                            color="primary">Update</button>
                        <a routerLink="/user/users" mat-raised-button>Cancel</a>
                    </form>
                </ng-template>
            </mat-tab>
            <mat-tab label="Reset password">
                <ng-template matTabContent>
                    <form [formGroup]="resetPassForm" (ngSubmit)="resetPassSubmit()">
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="resetPassForm.hasError('required', 'password')">
                                Password is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="width-100" appearance="outline">
                            <mat-label>Password confirm</mat-label>
                            <input matInput formControlName="password_confirm" [errorStateMatcher]="matcher"
                                pattern="{{ resetPassForm.get('password').value }}">
                            <mat-error *ngIf="resetPassForm.hasError('required', 'password_confirm')">
                                Password confirm is required
                            </mat-error>
                            <mat-error *ngIf="resetPassForm.get('password_confirm').hasError('pattern')">
                                Passwords are not the same
                            </mat-error>
                        </mat-form-field>
                        <button style="margin-right:10px;" mat-raised-button type="submit"
                            color="primary">Update</button>
                        <a routerLink="/user/users" mat-raised-button>Cancel</a>
                    </form>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>